################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Modern Pentathlon Event Manager/Modern Pentathlon Event Manager/obj/Debug
